@{
    ViewBag.Title = "Channel";
}

<div style="float:left; margin-right:20px; margin-top:150px;">
    <iframe style="float:left; display:inline-block; border:5px solid black; border-radius: 4px;" src="http://www.twitch.tv/asc3ndance/embed" frameborder="0" scrolling="no" height="550" width="760"></iframe>
</div>
<div style="margin-top:150px;">
    <iframe style="border-radius: 4px;border:5px solid black;" src="http://www.twitch.tv/asc3ndance/chat?popout=" frameborder="0" scrolling="no" height="550" width="360"></iframe>
</div>


